@model IEnumerable<Carro>;
<!DOCTYPE html>


    <div class="container">
        <form asp-controller="Carros" asp-action="Create" method="get">
            <button class="btn btn-primary mb-2"type="submit">Novo Carro</button>
        </form>
        <table class="table table-striped">
            <tr>
                <th>
                   @Html.DisplayNameFor(model => model.CarroPlaca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CarroModelo)
                </th>
                 <th class="col-2">
                    @Html.DisplayNameFor(model => model.CarroKilometragem)
                </th>
                 <th class="col-2">
                    @Html.DisplayNameFor(model => model.Fabricante)
                </th>
                  <th class="col-2">
                    @Html.DisplayNameFor(model => model.CarroDisponivel)
                </th>
                <th class="col-2">

                </th>
            </tr>

            @foreach (var carro in Model)
            {
                <tr>
                    <td>
                        @carro.CarroPlaca
                    </td>
                    <td>
                        @carro.CarroModelo
                    </td>
                    <td>
                    @carro.CarroKilometragem.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                     <td>
                         @carro.Fabricante.GetDescription()
                     </td>
                         <td>
                            @(carro.CarroDisponivel ? "Sim" : "Não")
                        </td>
                    <td>
                         <div class="d-flex gap-3">
                            <form asp-controller="Carros" asp-action="Edit" method="get">
                                <input type="hidden" name="id" value="@carro.CarroId" />
                                <button type="submit" class="btn btn-secondary">Editar</button>
                            </form>
                            @*
                            <form asp-controller="Pessoas" asp-action="InativarPessoa" method="post">
                                <input type="hidden" name="id" value="@pessoa.PessoaId" />
                                <button type="submit" class="btn btn-secondary">Inativar</button>
                            </form> 
                        </div>*@

                    </td>
                </tr>
            }


        </table>
    </div>

