@model IEnumerable<ControlePortaria.Models.Pessoa>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pessoas</title>
</head>
<body>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PessoaNome)
        </th>
            <th>
                @Html.DisplayNameFor(model => model.PessoaTelefone)
            </th>
        </tr>
        
        @foreach(var pessoa in Model)
        {
            <tr>
                <td >
                    @pessoa.PessoaNome
                </td>
                <td >
                    @pessoa.PessoaTelefone
                </td>
                    @*   <form asp-controller="Pessoa" asp-action="Detalhes" method="post">
                                <input type="hidden" name="id" value="@pessoa.Id" />
                                <button type="submit">Detalhes</button>
                            </form> *@
             </tr>
        }
        

    </table>
   
</body>
</html>
