@model IEnumerable<ControlePortaria.Models.Pessoa>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pessoas</title>
</head>
<body>
    <div class="container">
        <form asp-controller="Pessoas" asp-action="Create" method="get">
            <button class="btn btn-primary mb-2"type="submit">Criar pessoa</button>
        </form>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PessoaNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PessoaTelefone)
                </th>
                 <th>
                    @Html.DisplayNameFor(model => model.PessoaStatus)
                </th>
                <th>

                </th>
            </tr>

            @foreach (var pessoa in Model)
            {
                <tr>

                    <td>
                        @pessoa.PessoaNome
                    </td>
                    <td>
                        @pessoa.PessoaTelefone
                    </td>
                         <td>
                        @pessoa.PessoaStatus.GetDescription()
                        </td>
                    <td>
                        <form asp-controller="Pessoas" asp-action="Edit" method="get">
                            <input type="hidden" name="id" value="@pessoa.PessoaId" />
                            <button type="submit" class="btn btn-secondary">Editar</button>
                        </form>
                    </td>
                </tr>
            }


        </table>
    </div>
    
   
</body>
</html>
